.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 64px;

    &__title {
        font-size: 48px;
        font-weight: 600;
        line-height: 59px;
        color: #000000;
        margin-bottom: 32px;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

.grid-for {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

.flex {
    display: flex;
    flex-wrap: wrap;

    &-col {
        flex-direction: column;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: row;
    column-gap: 32px;
    row-gap: 48px;
}


.card {
    display: flex;

    &-col {
        flex-direction: column;
        width: 378px;
    }

    &-row {
        flex-direction: row;
        justify-content: space-between;
        border-top: 0.5px solid rgba(202, 205, 216, 1);
        padding-top: 25px;
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 50px;
        }
    }

    &-grid {
        grid-column: span 4;
        position: relative;
        width: auto;

        &__img {
            display: block;
        }

        &_big {
            grid-column: span 6;
        }
    }

    &__img-col {
        margin-bottom: 10px;
    }

    &__img-row {
        display: block;
        width: 173px;
        height: 173px;
        object-fit: cover;
        overflow: hidden;
    }

    &__title {
        font-size: 24px;
        font-weight: 500;
        line-height: 100%;
        color: #000000;
        margin-bottom: 9px;

        &_center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 34px;
            font-weight: 600;
            line-height: 41px;
            color: #FFFFFF;
        }
    }

    &__description {
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        color: #888888;
        margin-bottom: 12px;

        &_cart {
            margin-bottom: 16px;
            width: 276px;
        }
    }

    &__price {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        color: #050505;

        &_sale {
            text-decoration-line: line-through;
            color: #888888;
        }

        &_cart {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__link {
        font-size: 14px;
        font-weight: 400;
        line-height: 210%;
        color: #000000;
        margin-top: 15px;

    }

    &__counter {
        width: 71px;
        height: 51px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        font-family: Poppins;
        border-radius: 6px;
        background: rgb(247, 246, 246);
        border: none
    }
}

.content-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    padding-top: 42px;
}

.catalog-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 28px;
}

.path {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
    align-items: center;

    &__text {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
}

.catalog-filter {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.drop-list {
    width: 182px;
    height: 40px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    appearance: none;
    background: url(../../media/sprite/arrow_down.svg) no-repeat right 22px center;

    &_filter {
        width: 182px;
    }

    &_sort {
        width: 227px;
    }

    &_text {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        padding: 9px 54px 11px 23px;
    }
}

.poz-grid {

    &-head {
        margin-bottom: 14px;

        &-items {
            grid-column: 1;
        }

        &-count {
            grid-column: 8;
        }
    }

    &-cards {
        grid-column: 1 / span 8;
    }

    &-payment {
        grid-column: span 4;
        // grid-column: 9 / span 4;
        // grid-row: 1 / span 2;
        // grid-column-start: 9;
        // grid-row-start: 1;
    }
}


.form-payment {
    border-radius: 20px;
    background: #f7f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        display: flex;
        justify-content: center;
        font-size: 24px;
        font-weight: 700;
        color: rgb(0, 0, 0);
        padding-top: 42px;
        margin-bottom: 35px;
    }

    &__contact-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 27px;
        align-items: start;
        gap: 44px;
        margin-bottom: 64.5px;
    }

    &__person,
    &__phone,
    &__address {
        font-size: 14px;
        font-weight: 400;
        font-family: inherit;
        line-height: 17px;
        max-width: 288px;
        color: #000000;
        background: transparent;
        border: none;
        border-bottom: 1px solid #CACDD8;
    }

    &__price-total {
        display: flex;
        justify-content: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        color: #000000;
        margin-bottom: 18px;
    }

    &__button {
        display: flex;
        width: 290px;
        height: 41px;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        font-family: inherit;
        border: 1px solid #040404;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
    }
}


.button {
    display: flex;
    flex-direction: row;
    gap: 7px;

    &__action {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        width: 200px;
        height: 37px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        font-family: inherit;
        box-sizing: border-box;
        border: 1px solid #020202;
        border-radius: 50px;
    }
}