* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.catalog-filter {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.drop-list {
    width: 182px;
    height: 40px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    appearance: none;
    background: url(../../media/sprite/arrow_down.svg) no-repeat right 22px center;

    &_filter {
        width: 182px;
    }

    &_sort {
        width: 227px;
    }

    &_text {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        padding: 9px 54px 11px 23px;
    }
}

.filter-content-drop {
    position: absolute;
    top: 54px;
    left: -360px;
    width: 541.5px;
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    padding: 40px 48px 40px 48px;
    column-gap: 65px;
    row-gap: 38px;
    background-color: white;
    z-index: 1;
}

.fieldset {
    border: 0 none;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    gap: 14px;
}

.fieldset:last-child {
    margin-bottom: 0;
}

.fieldset-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
}

.fieldset__legend {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #050505;
    margin-bottom: 14px;
}

.fieldset__p {
    margin-bottom: 14px;
}

.item {
    margin-bottom: 14px;
}

.item:last-child {
    margin-bottom: 0;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

input[type="radio"]+label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 50%;
    transition: all 0.3s ease;
}

input[type="radio"]:checked+label::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 0;
    width: 15px;
    height: 15px;
    background-image: url("../../media/sprite/V.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.range-wrapper {
    position: relative;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    width: 198.05px;
    top: 0;
    left: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 0;
    border: 1px solid #000000;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    border: 1px solid #000000;
    border-radius: 50%;
    background-color: #000000;
    margin-top: -4px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    position: relative;
    cursor: pointer;
    padding-left: 25px;
}

input[type="checkbox"]+label:empty {
    padding-left: 15px;
}

input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #000000;
    transition: all 0.3s ease;
}

input[type="checkbox"]:checked+label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #000000;
    background-image: url("../../media/sprite/V.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#color-white+label::before {
    background: #FFFFFF;
    border: 1px solid #888888;
}

#color-black+label::before {
    background: #000000;
    border: 1px solid #000000;
}

#color-grey+label::before {
    background: #737373;
    border: 1px solid #737373;
}

#color-red+label::before {
    background: #FF0000;
    border: 1px solid #FF0000;
}

#color-orange+label::before {
    background: #FF7A41;
    border: 1px solid #FF7A41;
}

#color-yelow+label::before {
    background: #F2CB01;
    border: 1px solid #F2CB01;
}

#color-green+label::before {
    background: #00BF2A;
    border: 1px solid #00BF2A;
}

#color-ltgreen+label::before {
    background: #1CCC97;
    border: 1px solid #1CCC97;
}

#color-ltblue+label::before {
    background: #009FE3;
    border: 1px solid #009FE3;
}

#color-blue+label::before {
    background: #000AF8;
    border: 1px solid #000AF8;
}

#color-violet+label::before {
    background: #6710D6;
    border: 1px solid #6710D6;
}

#color-purple+label::before {
    background: #9D0DB5;
    border: 1px solid #9D0DB5;
}

#color-lilac+label::before {
    background: #D89AFF;
    border: 1px solid #D89AFF;
}

#color-pink+label::before {
    background: #FF65A6;
    border: 1px solid #FF65A6;
}

.filter-controls {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: flex-end;
}

.buttom_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 40px;
    padding: 10px 76px 10px 76px;
    border: 1px solid rgb(4, 4, 4);
    border-radius: 20px;
}