@media (max-width: 786px) {
    .center {
        padding: 0 16px;
    }

    .header {
        padding-top: 32px;

        &-input {
            display: none;
        }

        &-nav-list {
            display: none;
        }

        &-nav-bar {
            &-mobile {
                display: flex;
                align-items: center;
                gap: 32px;
            }
        }
    }

    .logo {
        width: 99px;
    }

    .content-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            font-size: 48px;
            line-height: 59px;
            text-align: center;
        }

        &__description {
            font-size: 16px;
            line-height: 32px;
            text-align: center;
        }

        &__link {
            font-size: 14px;
        }
    }

    .card {
        grid-column: 1 / -1;
        max-width: 342px;

        &-for {
            grid-column: 1 / -1;

            &_big {
                grid-column: 1 / -1;
            }

            &__img {
                height: 243px;
            }

            &__img-sm {
                height: 375px;
            }
        }

        &__title {

            &_center {
                font-size: 18px;
            }
        }
    }

    .form-pay {
        grid-column: 1 / -1;
        max-width: 343px;
    }

    .content {
        justify-items: center;

        &-for {
            gap: 16px;
        }

        &__title {
            justify-content: center;
            font-size: 24px;
            font-weight: 600;
            line-height: 100%;
        }
    }

    .filter {

        &-content-drop {
            grid-template-columns: 1fr;
            width: 286px;
            top: 105px;
            left: 0;

        }

        &-controls {
            justify-content: center;
        }
    }
}

@media (max-width: 375px) {
    .card {
        &__img {
            &_none {
                display: none;
            }
        }
    }
}