@media (max-width: 834px) {
  .header {
    &__search-block {
      display: none;
    }
    &__nav {
      display: none;
      &-icon {
        display: flex;
        column-gap: 32px;
      }
    }
    &__icon {
      display: block;
      width: 19px;
      height: 19px;
      background-repeat: no-repeat;
      opacity: 1;
      &_search {
        background-image: url("../../media/sprite/search.svg");
      }
      &_group {
        background-image: url("../../media/sprite/group.svg");
      }
      &_cart {
        background-image: url("../../media/sprite/cart.svg");
      }
    }
  }
  .footer {
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
  }
}
