@import "mixins";

$screen-width-px: 1200px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  @include padding-adaptive($screen-width-px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 64px;
  &_index {
    background-image: url(../../media/img/index_header.jpeg);
    height: 735px;
  }
  &_catalog {
    background-image: url(../../media/img/catalog_header.jpeg);
    height: 400px;
  }
  &_cart {
    background-image: url(../../media/img/cart_header.jpeg);
    height: 400px;
  }
  // &__logo {
  // }
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17.5px 0;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  }
  &__search-block {
    display: block;
  }
  &__search-form {
    display: block;
  }
  &__search-input {
    @include font-montserrat(16px, 400, 100%);
    width: 288px;
    height: 41px;
    padding: 0 16px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    color: rgba(255, 255, 255, 1);
    &::placeholder {
      @include font-montserrat(16px, 400, 100%);
      color: rgba(255, 255, 255, 1);
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  &__nav {
    display: block;
    &-list {
      list-style: none;
      display: flex;
      gap: 32px;
    }
    &-icon {
      display: none;
    }
    // &-item {
    // }
    &-link {
      text-decoration: none;
      color: rgba(255, 255, 255, 1);
      @include font-montserrat(16px, 400, 100%);
    }
  }
  &__block-content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 765px;
    &_index {
      padding-top: 64px;
    }
    &_catalog {
      padding-top: 128px;
    }
    &_cart {
      padding-top: 128px;
    }
  }
  &__title {
    @include font-montserrat(64px, 600, 70px);
    color: rgba(255, 255, 255, 1);
  }
  &__subtitle {
    @include font-montserrat(24px, 400, 32px);
    color: rgba(255, 255, 255, 1);
  }
  &__button {
    @include font-montserrat(16px, 400, 24px);
    color: rgba(255, 255, 255, 1);
      &:hover {
        @include hover-link;
      }
  }
}

.footer {
  @include padding-adaptive($screen-width-px);
  display: flex;
  justify-content: space-between;
  background: rgba(247, 246, 246, 1);
  padding-top: 32px;
  padding-bottom: 59px;
  &__block {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  &__logo {
    display: block;
  }
  &__title {
    @include font-montserrat(24px, 500, 100%);
    display: block;
    color: rgba(0, 0, 0, 1);
    &_news {
      font-size: 12px;
    }
  }
  &__navbar {
    display: flex;
    column-gap: 129px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    &-input {
      width: 260px;
      height: 40px;
      box-sizing: border-box;
      border: 1px solid rgba(196, 196, 196, 1);
      border-radius: 16px;
      background: rgba(255, 255, 255, 1);
      padding: 0 17px;
      &::placeholder {
        @include font-montserrat(12px, 400, 100%);
        color: rgba(196, 196, 196, 1);
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    &-btn {
      @include font-montserrat(12px, 400, 100%);
      width: 260px;
      height: 40px;
      border: 0;
      border-radius: 16px;
      background: rgba(222, 215, 215, 0.41);
      &:hover {
        @include hover-btn;
      }
    }
  }
  &__nav {
    &-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      row-gap: 12px;
    }
    &-icons {
      list-style-type: none;
      display: flex;
      column-gap: 20px;
      align-items: center;
    }
    &-link {
      @include font-montserrat(14px, 500, 100%);
      text-decoration: none;
      color: rgba(136, 136, 136, 1);
    }
  }
}

@import "content";
@import "tablet";
@import "mobile";
