$screen-width-px: 1200px;

@mixin padding-adaptive($screen-width-px) {
  padding: 0 calc((100% - $screen-width-px) / 2);
}

@mixin font-montserrat($fs, $fw, $lh) {
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  height: 735px;
  background-image: url(../../media/img/index_header.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include padding-adaptive($screen-width-px);
  // &__logo {
  // }
  // &__img {
  // }
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17.5px 0;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  }
  &__search {
    width: 288px;
    height: 41px;
    padding: 0 16px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    @include font-montserrat(16px, 400, 100%);
    &::placeholder {
      @include font-montserrat(16px, 400, 100%);
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  &__nav {
    &-list {
      list-style: none;
      display: flex;
      gap: 32px;
    }
    // &-item {
    // }
    &-link {
      text-decoration: none;
      @include font-montserrat(16px, 400, 100%);
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 765px;
    padding: 64px 0;
    &-title {
      @include font-montserrat(64px, 600, 70px);
    }
    &-subtitle {
      @include font-montserrat(24px, 400, 32px);
    }
    &-link {
      @include font-montserrat(16px, 400, 24px);
    }
  }
}
