@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 0 calc((100% - 1200px) / 2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 64px;
}
.header_index {
  background-image: url(../../media/img/index_header.jpeg);
  height: 735px;
}
.header_catalog {
  background-image: url(../../media/img/catalog_header.jpeg);
  height: 400px;
}
.header_cart {
  background-image: url(../../media/img/cart_header.jpeg);
  height: 400px;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17.5px 0;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
.header__search-block {
  display: block;
}
.header__search-form {
  display: block;
}
.header__search-input {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  width: 288px;
  height: 41px;
  padding: 0 16px;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  color: rgb(255, 255, 255);
}
.header__search-input::placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: rgb(255, 255, 255);
}
.header__search-input:focus {
  outline: none;
  box-shadow: none;
}
.header__nav {
  display: block;
}
.header__nav-list {
  list-style: none;
  display: flex;
  gap: 32px;
}
.header__nav-icon {
  display: none;
}
.header__nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}
.header__block-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  max-width: 765px;
}
.header__block-content_index {
  padding-top: 64px;
}
.header__block-content_catalog {
  padding-top: 128px;
}
.header__block-content_cart {
  padding-top: 128px;
}
.header__title {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  color: rgb(255, 255, 255);
}
.header__subtitle {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: rgb(255, 255, 255);
}
.header__button {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(255, 255, 255);
}
.header__button:hover {
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.header__button:hover:hover {
  color: rgb(136, 136, 136);
  text-decoration: none;
}

.footer {
  padding: 0 calc((100% - 1200px) / 2);
  display: flex;
  justify-content: space-between;
  background: rgb(247, 246, 246);
  padding-top: 32px;
  padding-bottom: 59px;
}
.footer__block {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.footer__logo {
  display: block;
}
.footer__title {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  display: block;
  color: rgb(0, 0, 0);
}
.footer__title_news {
  font-size: 12px;
}
.footer__navbar {
  display: flex;
  column-gap: 129px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.footer__form-input {
  width: 260px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 0 17px;
}
.footer__form-input::placeholder {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: rgb(196, 196, 196);
}
.footer__form-input:focus {
  outline: none;
  box-shadow: none;
}
.footer__form-btn {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  width: 260px;
  height: 40px;
  border: 0;
  border-radius: 16px;
  background: rgba(222, 215, 215, 0.41);
}
.footer__form-btn:hover {
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}
.footer__form-btn:hover:hover {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}
.footer__nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.footer__nav-icons {
  list-style-type: none;
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.footer__nav-link {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  color: rgb(136, 136, 136);
}

select {
  all: unset; /* Сбрасывает все стили */
  border: none; /* Удаляем границу */
  background: transparent; /* Прозрачное фоновое изображение */
  background-color: transparent; /* Прозрачная заливка */
  appearance: none; /* Стандартное свойство */
  outline: none; /* Убираем выделение при фокусе */
  box-shadow: none; /* Убираем тень */
  padding: 0; /* Убираем отступы */
  margin: 0; /* Убираем поля */
}

.content {
  padding: 0 calc((100% - 1200px) / 2);
  margin-bottom: 64px;
}
.content__title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 100%;
  color: rgb(0, 0, 0);
  margin-bottom: 32px;
}
.content__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 48px;
  column-gap: 32px;
}
.content__grid_for {
  gap: 32px;
}
.content__link {
  margin-top: 31px;
}
.content__link a {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(0, 0, 0);
  text-decoration-line: underline;
}
.content__link a:hover {
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.content__link a:hover:hover {
  color: rgb(136, 136, 136);
  text-decoration: none;
}
.content__block-nav {
  display: flex;
  justify-content: space-between;
}
.content__block-path {
  display: flex;
  column-gap: 10px;
}
.content__block-path * {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.content__block-btn {
  position: relative;
  display: flex;
  column-gap: 10px;
}
.content__btn {
  position: relative;
  max-width: 225px;
}
.content__btn-select {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
  width: 182px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  padding: 10px 22px;
}
.content__btn-select:hover {
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}
.content__btn-select:hover:hover {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}
.content__btn::after {
  content: url("../../media/sprite/arrow-down.svg");
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #666;
  font-size: 12px;
}

.card {
  position: relative;
  grid-column: span 4;
}
.card_for {
  grid-column: span 4;
}
.card_for-big {
  grid-column: span 6;
}
.card__row {
  display: flex;
  column-gap: 31px;
}
.card__body_for-cart {
  max-width: 276px;
}
.card_for-cart {
  grid-column: span 5;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  border-top: 0.5px solid rgb(202, 205, 216);
}
.card__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  opacity: 0;
  z-index: 1;
}
.card__icon_buy {
  left: calc(100% - 67px);
  background-image: url("../../media/sprite/buy.svg");
}
.card__icon_like {
  left: calc(100% - 34px);
  background-image: url("../../media/sprite/like.svg");
}
.card:hover .card__icon {
  opacity: 1;
}
.card__block-img {
  position: relative;
  margin-bottom: 8px;
}
.card__block-img_for {
  margin-bottom: 0;
}
.card__block-img_for-cart {
  margin-bottom: 0;
}
.card__block-title {
  margin-bottom: 8px;
}
.card__block-title_abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
}
.card__block-title_for-cart {
  margin-bottom: 14px;
}
.card__block-text {
  margin-bottom: 12px;
}
.card__block-text_for-cart {
  margin-bottom: 16px;
}
.card__block-price {
  display: flex;
  column-gap: 32px;
  margin-bottom: 8px;
}
.card__block-price_for-cart {
  margin-bottom: 15px;
}
.card__img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.card__title {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  color: rgb(0, 0, 0);
}
.card__title_for-center {
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 600;
  line-height: 100%;
  color: rgb(255, 255, 255);
}
.card__text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: rgb(136, 136, 136);
}
.card__price {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  color: rgb(5, 5, 5);
}
.card__price_sale {
  color: rgb(136, 136, 136);
  text-decoration-line: line-through;
}
.card__price_for-cart {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}
.card__link {
  display: flex;
  gap: 30px;
}
.card__link a {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #000000;
  margin-top: 15px;
}
.card__link a:hover {
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.card__link a:hover:hover {
  color: rgb(136, 136, 136);
  text-decoration: none;
}
.card__counter {
  width: 71px;
  height: 51px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  font-family: Poppins;
  border-radius: 6px;
  background: rgb(247, 246, 246);
  border: none;
}

.cart {
  grid-column: span 8;
}
.cart__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.cart__block-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 32px;
}
.cart__btn {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7px;
  margin-top: 50px;
}
.cart__btn button {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 200px;
  height: 37px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-family: inherit;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #020202;
  border-radius: 50px;
}
.cart__btn button:hover {
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}
.cart__btn button:hover:hover {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.form-filter {
  position: absolute;
  top: 52px;
  left: -360px;
  display: flex;
  flex-direction: column;
  width: 541.5px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  background: rgb(255, 255, 255);
  padding: 40px 48px;
  z-index: 10;
}
.form-filter__block {
  display: flex;
  flex-direction: row;
  column-gap: 65px;
}
.form-filter__block-items {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}
.form-filter__block-btn {
  display: flex;
  justify-content: end;
}
.form-filter__btn {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  width: 190px;
  height: 40px;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 16px;
  background: rgba(222, 215, 215, 0.41);
}
.form-filter__btn:hover {
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}
.form-filter__btn:hover:hover {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: 190.5px;
  gap: 14px;
  margin-bottom: 32px;
}
fieldset legend {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: rgb(5, 5, 5);
  margin-bottom: 16px;
}

.range__block {
  position: relative;
  width: 190.5px;
}
.range__text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: rgb(0, 0, 0);
}

input[type=range] {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 1px; /* Толщина линии */
  background: none;
  outline: none;
}
input[type=range]:first-of-type {
  background: rgb(0, 0, 0);
}

input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track,
input[type=range]::-ms-track {
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
}

input[type=radio] {
  display: none; /* Скрываем стандартные радиокнопки */
}
input[type=radio] + label {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: rgb(0, 0, 0);
  position: relative; /* Устанавливаем относительное позиционирование метки */
  padding-left: 25px; /* Добавляем отступ слева для размещения стилизованного элемента */
  cursor: pointer; /* Меняем курсор мыши при наведении на метку */
}
input[type=radio] + label::before {
  content: ""; /* Содержимое пусто, но стиль будет применен */
  position: absolute; /* Устанавливаем абсолютное позиционирование */
  left: 0; /* Выравниваем по левой стороне метки */
  top: 50%; /* Центрируем по вертикали относительно метки */
  transform: translateY(-50%); /* Поправка для точного центрирования */
  box-sizing: border-box;
  width: 15px; /* Ширина стилизованного элемента */
  height: 15px; /* Высота стилизованного элемента */
  border: 1px solid rgb(136, 136, 136); /* Черная граница */
  border-radius: 50%; /* Скругляем углы до состояния круга */
  background: #fff; /* Белый фон внутри элемента */
}
input[type=radio]:focus + label::before {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

input[type=radio]:checked + label::before {
  border: 1px solid rgb(0, 0, 0);
}
input[type=radio]:checked + label::after {
  content: ""; /* Содержимое пусто, но стиль будет применен */
  position: absolute; /* Устанавливаем абсолютное позиционирование */
  left: 4px; /* Выравниваем по левой стороне метки со сдвигом */
  top: 50%; /* Центрируем по вертикали относительно метки */
  transform: translateY(-50%); /* Поправка для точного центрирования */
  width: 6.5px; /* Ширина элекмента внутри стилизованного элемента */
  height: 6px; /* Высота элемента внутри стилизованного элемента */
  background-image: url("../../media/sprite/V.svg");
  background-size: cover;
}

input[type=checkbox] {
  display: none; /* Скрываем стандартные радиокнопки */
}
input[type=checkbox] + label {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: rgb(0, 0, 0);
  position: relative; /* Устанавливаем относительное позиционирование метки */
  padding-left: 25px; /* Добавляем отступ слева для размещения стилизованного элемента */
  cursor: pointer; /* Меняем курсор мыши при наведении на метку */
}
input[type=checkbox] + label:empty {
  padding-left: 0;
  display: block;
  width: 15px;
  height: 15px;
}
input[type=checkbox] + label::before {
  content: ""; /* Содержимое пусто, но стиль будет применен */
  position: absolute; /* Устанавливаем абсолютное позиционирование */
  left: 0; /* Выравниваем по левой стороне метки */
  top: 50%; /* Центрируем по вертикали относительно метки */
  transform: translateY(-50%); /* Поправка для точного центрирования */
  box-sizing: border-box;
  width: 15px; /* Ширина стилизованного элемента */
  height: 15px; /* Высота стилизованного элемента */
  border: 1px solid rgb(136, 136, 136); /* Черная граница */
  background: #ffffff; /* Белый фон внутри элемента */
}
input[type=checkbox]:focus + label::before {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

input[type=checkbox]:checked + label::before {
  border: 1px solid rgb(0, 0, 0);
}
input[type=checkbox]:checked + label::after {
  content: ""; /* Содержимое пусто, но стиль будет применен */
  position: absolute; /* Устанавливаем абсолютное позиционирование */
  left: 4px; /* Выравниваем по левой стороне метки со сдвигом */
  top: 50%; /* Центрируем по вертикали относительно метки */
  transform: translateY(-50%); /* Поправка для точного центрирования */
  width: 7px; /* Ширина элекмента внутри стилизованного элемента */
  height: 7px; /* Высота элемента внутри стилизованного элемента */
  background-image: url("../../media/sprite/V.svg");
  background-size: cover;
}

#checkbox-1 + label::before {
  background: #ffffff;
}

#checkbox-2 + label::before {
  background: #000000;
}

#checkbox-3 + label::before {
  background: #737373;
}

#checkbox-4 + label::before {
  background: #ff0000;
}

#checkbox-5 + label::before {
  background: #ff7a41;
}

#checkbox-6 + label::before {
  background: #f2cb01;
}

#checkbox-7 + label::before {
  background: #00bf2a;
}

#checkbox-8 + label::before {
  background: #1ccc97;
}

#checkbox-9 + label::before {
  background: #009fe3;
}

#checkbox-10 + label::before {
  background: #000af8;
}

#checkbox-11 + label::before {
  background: #6710d6;
}

#checkbox-12 + label::before {
  background: #9d0db5;
}

#checkbox-13 + label::before {
  background: #d89aff;
}

#checkbox-14 + label::before {
  background: #ff65a6;
}

.form-pay {
  grid-column: span 4;
  max-width: 379px;
  border-radius: 20px;
  background: rgb(247, 246, 246);
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  padding-bottom: 142px;
}
.form-pay__title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-bottom: 35px;
}
.form-pay__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 27px;
  padding-right: 64px;
}
.form-pay__contact input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  font-family: inherit;
  line-height: 100%;
  color: rgb(0, 0, 0);
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(202, 205, 216);
  padding-bottom: 2.5px;
  margin-bottom: 44px;
}
.form-pay__contact input:last-of-type {
  margin-bottom: 64.5px;
}
.form-pay__price-total {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #000000;
  margin-bottom: 18px;
}
.form-pay-btn {
  display: flex;
  justify-content: center;
  width: 100%;
}
.form-pay-btn__submit {
  display: flex;
  width: 287px;
  height: 41px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #040404;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.form-pay-btn__submit:hover {
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}
.form-pay-btn__submit:hover:hover {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

@media (max-width: 1200px) {
  .header {
    padding: 0 calc((100% - 786px) / 2);
  }
  .content {
    padding: 0 calc((100% - 786px) / 2);
  }
  .content__grid {
    row-gap: 30px;
    column-gap: 29px;
  }
  .card {
    grid-column: span 6;
  }
  .card_for {
    grid-column: span 4;
  }
  .card_for-big {
    grid-column: span 6;
  }
  .footer {
    padding: 0 calc((100% - 786px) / 2);
    padding-top: 32px;
    padding-bottom: 59px;
  }
  .footer__logo {
    display: none;
  }
  .form-filter {
    left: -124px;
  }
  .cart {
    grid-column: 1/-1;
  }
  .form-pay {
    grid-column: 1/-1;
  }
}
@media (max-width: 768px) {
  .header {
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 32px;
  }
  .header__search-block {
    display: none;
  }
  .header__navbar {
    padding-top: 32px;
    border-bottom: none;
  }
  .header__nav {
    display: none;
  }
  .header__nav-icon {
    display: flex;
    column-gap: 32px;
  }
  .header__icon {
    display: block;
    width: 19px;
    height: 19px;
    background-repeat: no-repeat;
    opacity: 1;
  }
  .header__icon_search {
    background-image: url("../../media/sprite/search.svg");
  }
  .header__icon_group {
    background-image: url("../../media/sprite/group.svg");
  }
  .header__icon_cart {
    background-image: url("../../media/sprite/cart.svg");
  }
  .header__content-box {
    padding-top: 29px;
  }
  .header__title {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
  }
  .header__subtitle {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }
  .header__button {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
  .footer {
    padding-left: 17px;
    padding-right: 17px;
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
  }
  .content {
    padding: 0 17px;
    margin-bottom: 32px;
  }
  .content__title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
  }
  .content__grid {
    row-gap: 32px;
  }
  .content__block-nav {
    flex-direction: column;
    column-gap: 0;
    row-gap: 14px;
  }
  .content__block-btn {
    flex-direction: column;
    row-gap: 10px;
  }
  .card {
    grid-column: 1/-1;
  }
  .card_for {
    grid-column: 1/-1;
  }
  .card_for-big {
    grid-column: 1/-1;
  }
  .card__title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
  }
  .card__title_for-center {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    line-height: 100%;
  }
  .card__price {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
  }
  .card__block-img_for-cart {
    display: none;
  }
  .form-filter {
    left: 0;
    top: 106px;
    width: 286.5px;
  }
  .form-filter__block {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */